html, body {
    height: 100%;
    font-family: 'Poppins', sans-serif, Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: flex-center;
    flex-direction: column;
    background: url(images/pink1.jpg);
    background-position: center;
}

.calculator {
    width: 250px;
    height: 335px;
    background-color: rgb(240, 237, 222);
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 15px;
    box-shadow: 3px 3px 3px grey;
}

input {
    background-color: rgb(231, 230, 230);
    border: 1px solid darkgrey;
    line-height: 40px;
    width: 90%;
    font-size: 2em;
    padding: 10px;
    margin: 20px;
    padding-left: 1px;
    margin-left: 6px;
    border-radius: 10px;
    text-align: right;
}

.row {
    display: block;
}

button {
    width: 45px;
    height: 35px;
    border: 1px solid darkgrey;
    background-color: rgb(60, 60, 60);
    color: white;
    font-size: 1.1em;
    border-radius: 20%;
    margin-left: 8px;
    margin-right: 5px;
    margin-bottom: 10px;
    box-shadow: 3px 3px 1px grey;
}

.ctrl {
    background-color: red;
}

.plus {
    height: 80px;
    float: right;
    margin-right: 12px;
    margin-left: -8px;
}